/* .container {
  width: 100%;
  /* max-width: 100%; */
  /* margin: 0 auto; */
  /* padding: 20px; */

/*.novaTable {
  width: 82vw;
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px !important;
}
.headerStyles {
  background: rebeccapurple;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
} */
