.container {
  width: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 20px; */
}
.novaTable {
  width: 100%;
  border-radius: 10px;
  margin: 20px 5px; /* Adjust margin as needed */
  overflow-x: auto; /* Add horizontal scroll if needed */

  /* Optional: Add a max-width to limit the width on larger screens */
  max-width: 1060px; /* Adjust the max-width as needed */
}
.headerStyles {
  background: rebeccapurple;
}

