.Ems {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #1ce04d; /* Change to green color */
  color: rgb(255, 255, 255);
}

th, td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.ant-modal-content {
  border-radius: 8px;
}

.ant-modal-body {
  padding: 24px;
}

.ant-form-item-label {
  font-weight: bold;
}

.ant-input {
  width: 100%;
}

.ant-calendar-picker-input {
  width: 100%;
}

.ant-picker-footer {
  padding-top: 16px;
  text-align: right;
}
