

.data_cards{
  width: 81.5vw;
  margin: 10px 0px 0px 0px;
  display: grid;
  grid-template-columns: minmax(0, 0.65fr) minmax(0, 0.65fr) minmax(0, 0.65fr) minmax(0, 0.65fr);
  gap: 10px;
  overflow-y: scroll;
  height: 72vh;
  border: solid;
  border-radius: 10px;
  padding: 7px;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.card {
    width: 18.75rem;
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(9, 154, 151) 11.2%, rgb(21, 205, 168) 91.1%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .Collapsible__trigger:hover>.spam {
    cursor: pointer;
    transform: scale(2.05);
  }

  .Collapsible{
    width: 100%;
    /* text-align: end; */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
 
  
  .img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
  }
  
  .Collapsible__trigger:hover > .spam{
    transition: 0.8s ease-in-out;
    border: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));

  }

  .Collapsible__contentOuter{
    transition: height 190ms linear 0s !important;
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .textContent-c{
    display: flex;
    justify-content: space-between;
    flex-basis: 82%;

  }
  
  .span {
    font-size: 10px;
  }
  
  .h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 1.5em 0px 0px 0px !important;
  }
  
  .p {
    font-size: 12px;
    font-weight: lighter;
    text-align: left;
  }
  
