.container {
  width: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 20px; */
}
.novaTable {
    width: 70%;
    border-radius: 10px;
    border-color: black;
    border-style: groove;
    margin-top: 30px;
    margin-left: 30px;
}
.headerStyles {
  background: rebeccapurple;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
