body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Service Container */

  .main-container {
    height: 100vh;
    overflow: hidden; 
  }
  
  .scrollable-section {
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding-right: 20px;

  }
    
  .service-container {
    background-color: lightgray;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
  }
  
/* Filter Section */

.filter-section {
    display: flex;
    justify-content: flex-end; /* Adjusted to evenly distribute the elements */
    align-items: center;
    width: 95%;
    padding: 15px;
    height: 40px;
  }

  .filter-forms {
    display: flex;
    align-items: center;
  }
  
  /* Sort By Dropdown */
  
  #sort {
    margin-right: 10px;
    height: 25px;
    border-radius: 5px;
    border-style: none;

  }
  
  /* Search Input */l
  
  #search {
    margin-right: 10px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
  }

  /* Service Card Header */
  
  .service-card-header {
    display: flex;
    background-color: rgb(28, 175, 180);
    height: 50px;
    width: 90%;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  /* Ratings Section */
  
  .service-card-ratings {
    display: flex;
    align-items: center;

  }
  
  .service-card-ratings span {
    margin-left: 5px;
    font-size: 18px;
    color: gold;
  }
  
  /* Card Description Section */
  
  .card-description-section {
    width: 90%;
    margin-left: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .leftside-description {
    background-color: cornflowerblue;
    width: fit-content;
    height: fit-content;
  }

  
  /* Custom Table Styles */
  
  .custom-table .ant-table-tbody > tr > td {
    padding: 8px; 
  }
  
  .service-item {
    background-color: #d9e9e5af;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 10px;
    height: auto;
  }
  
  .service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 187, 187);
    border-radius: 10px;
    margin-bottom: 8px;
    height: 50px;
  }
  
  .service-ratings {
    padding: 5px 10px;
    border-radius: 4px;
  }