.container {
  width: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 20px; */
}
.novaTable {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  margin-top: 8%;
  margin-left: 8px;
}
.headerStyles {
  background: rebeccapurple;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

.inputStyle {
  width: 300px;
  border: '1px solid #d9d9d9';
  padding: '8px 12px';
  fontSize: '16px';
  borderRadius: '4px';
};
.textStyle{
  color: 'red';
    fontSize: '24px';
}